/*.aqx
/*.bin
/*.mode
/*.pickle
/*.pyc
/*.txt
/*.xml
/.DS_Store
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
dev/mt_verbs/*.pyc
/install-sh
/missing
/modes
/out
