* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-mt-he.he.dix -text
/apertium-mt-he.mt-he.dix -text
/apertium-mt-he.mt-he.t1x -text
/apertium-mt-he.mt.dix -text
/autogen.sh -text
/configure.ac -text
dev/dout.nouns.shemp.dix -text
dev/dout.nouns.wolig.dix -text
dev/he-mt.interwiki.xml -text
dev/he.dix -text
dev/he.nouns.dix -text
dev/mt-he.interwiki.xml -text
dev/mt_verbs/classes/__init__.py -text
dev/mt_verbs/classes/common.py -text
dev/mt_verbs/classes/defective.py -text
dev/mt_verbs/classes/irregular_qal.py -text
dev/mt_verbs/classes/irregular_ra.py -text
dev/mt_verbs/classes/kisser.py -text
dev/mt_verbs/classes/kiteb.py -text
dev/mt_verbs/classes/loan_english.py -text
dev/mt_verbs/classes/loan_italian.py -text
dev/mt_verbs/classes/strong.py -text
dev/mt_verbs/classes/strong_double_mid_radical.py -text
dev/mt_verbs/stems.csv -text
dev/mt_verbs/verbs.py -text
dev/verb_lists/allmalteseverbs17apr-strong.csv -text
dev/verb_lists/allmalteseverbs17apr-weak.csv -text
dev/verb_lists/allmalteseverbs17apr.xls -text
/modes.xml -text
/mt-he.prob -text svneol=unset#unset
/pending-tests.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
