* text=auto !eol
/Makefile -text
/apertium-mt-he.he.dix -text
/apertium-mt-he.mt-he.dix -text
/apertium-mt-he.mt-he.t1x -text
/apertium-mt-he.mt.dix -text
dev/dout.nouns.shemp.dix -text
dev/dout.nouns.wolig.dix -text
dev/he-mt.interwiki.xml -text
dev/he.dix -text
dev/he.nouns.dix -text
dev/mt-he.interwiki.xml -text
dev/mt_verbs/classes/__init__.py -text
dev/mt_verbs/classes/common.py -text
dev/mt_verbs/classes/kiteb.py -text
dev/mt_verbs/stems.csv -text
dev/mt_verbs/verbs.py -text
/modes.xml -text
/mt-he.prob -text svneol=unset#unset
/pending-tests.sh -text
/recompile.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
