* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-mt-he.he.dix -text
/apertium-mt-he.mt-he.dix -text
/apertium-mt-he.mt-he.t1x -text
/apertium-mt-he.mt.acx -text
/apertium-mt-he.mt.dix -text
/autogen.sh -text
/configure.ac -text
dev/bidix-verbs-to-he.dix.sh -text
dev/concordancer.py -text
dev/dout.nouns.shemp.dix -text
dev/dout.nouns.wolig.dix -text
dev/generation-summary.mt-he.txt -text
dev/generation-test.py -text
dev/he-cnjcoo -text
dev/he-cnjcoo.out -text
dev/he-cnjsub -text
dev/he-cnjsub.out -text
dev/he-mt.interwiki.xml -text
dev/he.dix -text
dev/he.nouns.dix -text
dev/he.verbs.dix -text
dev/hitparade.80.txt -text
dev/hspell-to-dix.sh -text
dev/inconsistency-summary.sh -text
dev/mt-he.inconsistency.sh -text
dev/mt-he.interwiki.xml -text
dev/mt_adj/adj_loops.sh -text
dev/mt_adj/adj_suspected-ku-ka-ci.txt -text
dev/mt_adj/adj_suspected-ku-ka-ci.verified.txt -text
dev/mt_adj/adj_suspected.txt -text
dev/mt_adj/adj_suspected.verified.txt -text
dev/mt_he_verbs/bidix.py -text
dev/mt_he_verbs/generate.sh -text
dev/mt_he_verbs/verbs-mt-he.csv -text
dev/mt_verbs/classes/__init__.py -text
dev/mt_verbs/classes/defective.py -text
dev/mt_verbs/classes/defective_a_a.py -text
dev/mt_verbs/classes/irregular_gie.py -text
dev/mt_verbs/classes/irregular_ha.py -text
dev/mt_verbs/classes/irregular_qal.py -text
dev/mt_verbs/classes/irregular_ra.py -text
dev/mt_verbs/classes/irregular_ta.py -text
dev/mt_verbs/classes/loan_english.py -text
dev/mt_verbs/classes/loan_romance.py -text
dev/mt_verbs/classes/quadriliteral.py -text
dev/mt_verbs/classes/strong.py -text
dev/mt_verbs/classes/strong_a_o.py -text
dev/mt_verbs/classes/strong_a_o_overloaded.py -text
dev/mt_verbs/classes/strong_double_mid_radical.py -text
dev/mt_verbs/classes/vaux_kien.py -text
dev/mt_verbs/stems.csv -text
dev/mt_verbs/verbs.py -text
dev/mt_wiktionary/noun.speling -text
dev/mt_wiktionary/nounNoNumber.speling -text
dev/paragraph1.out -text
dev/paragraph1.txt -text
dev/testvoc-summary.mt-he.txt -text
dev/testvoc.sh -text
dev/verb_lists/allmalteseverbs17apr-strong.csv -text
dev/verb_lists/allmalteseverbs17apr-weak.csv -text
dev/verb_lists/allmalteseverbs17apr.xls -text
dev/verb_lists/hspell5jun.speling -text
dev/wiktionary/extract_wiki_inflections.py -text
dev/wiktionary/extract_wiki_translations.py -text
/modes.xml -text
/mt-he.prob -text svneol=unset#unset
/pending-tests.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
